.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.modal__backdrop {
    background-color: var(--dark-color);
    background-image: url("../assets/cart_with_woman.png");
    background-blend-mode: multiply;
    object-fit: contain;
    height: 100vh;
    width: 100%;
}

.modal__close-icon {
    align-items: center;
    background-color: var(--primary-color-transparent-3);
    border-radius: var(--primary-radius);
    color: var(--dark-color);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: -45px;
    text-align: center;
    top: 0px;
    width: 30px;
}

.modal__close-icon:hover {
    background-color: var(--primary-color);
}

.modal__overlay {
    background-color: var(--primary-color-transparent-3);
    border-radius: var(--primary-radius-3);
    height: 30rem;
    position: absolute;
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
}

.product__container {
    border-left: 1px solid var(--dark-color-transparent);
    border-right: 1px solid var(--dark-color-transparent);
    display: grid;
    gap: var(--gap);
    height: 100%;
    grid-template-columns: max-content max-content auto;
    padding: 1rem 2rem;
}

.product__color-picker {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
}

.product__color-picker span {
    border: 3px solid var(--dark-color-transparent-2);
    border-radius: var(--primary-radius-2);
    cursor: pointer;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
}

.product__color-picker span::after {
    background-color: var(--dark-color-transparent-2);
    border-radius: var(--primary-radius-2);
    content: "";
    display: block;
    height: 0.8rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.8rem;
}

.product-image__container {
    position: relative;
    margin-right: calc(var(--gap-2) * 4);
    width: 16rem;
}

.product-image__container > * {
    background-color: var(--primary-color-transparent-2);
    border-radius: var(--primary-radius-3);
    bottom: 0;
    display: inline-block;
    position: absolute;
    height: 100%;
    position: absolute;
    width: 100%;
}

.product__image--efx__0 {
    left: 1.5rem;
    transform: rotate(5deg);
}
.product__image--efx__1 {
    left: 2rem;
    transform: rotate(15deg);
}

.product__image .img {
    border-radius: var(--primary-radius-3);
    cursor: pointer;
    height: inherit;
    overflow: hidden;
    width: inherit;
    border: 5px solid #41606d59;
}

.product__image .img img {
    height: inherit;
    object-fit: cover;
    transform: scale() rotate(-2deg);
    transition: transform 0.4s ease-in-out;
    width: inherit;
}

.product__image:hover img {
    transform: scale(1.1) rotate(3deg);
}

.product__image i.love {
    align-items: center;
    background-color: var(--dark-color-transparent-2);
    border-radius: var(--primary-radius-3);
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    font-style: normal;
    height: 32px;
    justify-content: center;
    position: absolute;
    right: 3rem;
    top: -1rem;
    width: 32px;
}

i.love:hover {
    background-color: var(--text-color-white);
    color: var(--dark-color);
}
i.love:active {
    color: var(--close-color);
}

.product__infomation {
    color: var(--dark-color);
    display: grid;
    grid-template-rows: repeat(6, max-content);
    gap: var(--gap);
}

.product__price {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}

.product__title {
    text-transform: uppercase;
}

.prodcut__description {
    font-style: italic;
}

.product__status {
    font-size: 14px;
    font-weight: bold;
    padding: 2rem 0 1rem;
    text-transform: uppercase;
}

.product__status span {
    font-size: 18px;
}

.product__quantity {
    align-items: center;
    display: flex;
    gap: var(--gap);
    padding: 0 0 3rem 0;
    width: max-content;
}

.product__quantity > * {
    font-style: normal;
    font-weight: bold;
    padding: 0.5rem;
}

.product__quantity span {
    font-size: 24px;
}

.product__quantity i {
    background-color: var(--primary-color-transparent-2);
    border-radius: var(--primary-radius);
    color: #9f9f9f;
    cursor: pointer;
    display: flex;
}

.product__quantity i:hover {
    color: var(--dark-color-transparent);
}
.product__quantity i:active {
    color: var(--dark-color);
}

.product__misc {
    align-self: flex-end;
    display: flex;
    gap: var(--gap-1);
    height: 100%;
    padding-top: 2rem;
}

.product__size {
    align-items: center;
    background-color: var(--primary-color-transparent-2);
    border-radius: var(--primary-radius);
    cursor: pointer;
    display: flex;
    gap: var(--gap);
    justify-content: center;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    width: 8rem;
}

.product__size span {
    font-size: smaller;
}
.product__size select {
    cursor: pointer;
    font-size: larger;
    /* width: 32px; */
}

.product__btn {
    background-color: var(--dark-color);
    border-radius: var(--primary-radius);
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    width: 8rem;
}

.product__btn:hover {
    background-color: var(--dark-color-transparent-2);
}

/* ####################### login */
.modal__login {
    background-color: #2c2c2c6b;
    border-radius: var(--primary-radius-3);
    height: max-content;
    padding: 0rem 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
}

.login__container {
    color: var(--text-color-white);
    display: grid;
    overflow: auto;
    gap: var(--gap-1);
    grid-template-rows: repeat(3, max-content);
    padding: 3rem 2rem;
    width: 100%;
}

.login__title {
    padding: 1rem 0;
}

.login__form {
    display: inherit;
    gap: var(--gap);
}

.login__form p {
    font-size: 0.8rem;
    justify-self: flex-end;
}

.login__form a {
    color: var(--primary-color);
    margin: 0 0.5rem;
    text-decoration: none;
}

.login__form a:hover {
    color: var(--close-color);
}

.login__form button {
    border: 0.15rem solid var(--text-color-white-2);
    border-radius: var(--primary-radius);
    color: var(--text-color-white-2);
    cursor: pointer;
    padding: 0.65rem 1rem;
    width: 8rem;
}

.login__form button:hover {
    background-color: var(--text-color-white-2);
    border: 0.15rem solid transparent;
    color: var(--dark-color);
}

.login__form button:active {
    background-color: var(--text-color-dark-2);
    color: var(--text-color-white-2);
}

.login__form-group {
    display: inherit;
    gap: var(--gap-1);
}

.login__form-group input {
    background-color: var(--text-color-white-2);
    border-radius: var(--primary-radius);
    padding: 0.8rem 1rem;
}

.login__form-group input::placeholder {
    text-transform: uppercase;
}

.login__alternative {
    display: inherit;
    gap: var(--gap-1);
    grid-template-rows: repeat(2, max-content);
    justify-content: center;
    text-align: center;
}
.login__3rd-party {
    display: flex;
    gap: var(--gap-1);
}

.login__alternative p {
    font-size: 0.8rem;
}

.login__socials {
    background-color: var(--text-color-white);
    border-radius: var(--primary-radius-3);
    color: var(--dark-color);
    cursor: pointer;
    display: grid;
    font-size: larger;
    place-items: center;
    height: 2.5rem;
    width: 2.5rem;
}
