*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: "Calibri", sans-serif;
    font-size: medium;
    color: var(--text-color-dark-2);
}

input,
textarea,
button,
select {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Calibri", sans-serif;
    font-size: medium;
}

a {
    text-decoration: none;
    color: var(--text-color-dark-2);
}

.active {
    background-color: #ffffff6b;
}
